DB_HOST=mongodb+srv://<username>:<password>@cluster0.mf3ta.mongodb.net/myFirstDatabase?retryWrites=true&w=majority
SECRET_KEY=secret word
UPLOAD_DIR = Folder for temporary images

SENDGRID_API_KEY=secret key from SendGrid
EMAIL_SENDER=Registered email from SendGrid